
<div class="mainContent">
    <h1>
      Welcome to {{ title }}<br>
        {{name}}！
      
    </h1>
      <div class="formSection">
      <form> 
      <label for="name">Please enter your name</label>
       <input type="text" [(ngModel)]="name"  name="name" />
      <label for="password">Password</label>
    <input type="password" [(ngModel)]="password"  name="password" />   
      <label for="city">City</label>
    <input type="text" [(ngModel)]="city"  name="city" />
       </form>
       </div>   
       <h2><p>Your name is {{name}}</p><p>Your city is {{city}}</p></h2>
  <table>
    <tr>
      <th>Name</th>
       <th>Password</th>
      <th>City</th>
        
    </tr>
    <tr>
      <td>{{name}}</td>
      <td>{{password}}</td>
      <td>{{city}}</td>
        
        
    </tr>
  </table>
  
     
          